@media (max-width:1024px){
    .header-background-image{
        height: auto;
    }
    .header-div-1{
        width: 90%;
    }
    .header-nav{
        max-width: 400px;
        width: 100%;
    }
    .map-div{
        width:90%;
    }
    .section2-div{
        width: 90%;
    }
    .section2-heading{
        font-size: 35px;
    }
    .textarea1{
        width: 95%;
    }
    .section2-div3{
        width: 90%;
    }
    .section3-div1{
        width: 90%;
    }
    .section3-heading{
        font-size: 35px;
    }
    .section3-div2{
        width: 100%;
    }
    .section3-image{
        max-width:250px;
        width:90%;
        height: auto;
    }
    .footer-div-1{
        width: 90%;
    }
    .footer-div-2{
        width: 90%;
    }
    .copyright{
        width: 90%;
    }
}
@media(max-width:768px){
    .header-heading{
        font-size: 30px;
    }
    .section2-heading{
        font-size: 30px;
    }
    .section3-heading{
        font-size: 30px;
    }
    .section3-image{
        max-width: 200px;
        width: 100%;
    }
    .footer-background-image{
        height: auto;
    }
    .footer-div-1{
        width: 50%;
    }
    .footer-div-2{
        width: 50%;
    }
    .footer-text{
        font-size: 10px;
    }
    .fa-facebook{
        font-size: 20px;
    }
    .fa-twitter-square{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .fa-google-plus{
        font-size: 20px;
    }
    .footer-headings{
        font-size: 12px;
    }
    .footer-links{
        font-size: 10px;
    }
    .footer-info{
        font-size: 10px;
    }
    .fa-envelope{
        font-size: 15px;
    }
    .fa-phone-alt{
        font-size: 15px;
    }
    .fa-map-marker-alt{
        font-size: 15px;
    }
    .copyright{
        width: 80%;
        margin-bottom: 20px;
    }
    .footer-p{
        font-size: 10px;
    }
    .span-link{
        font-size: 10px;
    }
}
@media(max-width:650px){
    .header-nav{
        display: none;
    }
    .fa-bars{
        display: block;
        color: white;
        font-size: 25px;
    }
    .header-heading{
        font-size: 25px;
    }
    .section2-heading{
        font-size: 25px;
    }
    .small-div{
        max-width: 40px;
        width: 100%;
        height: 40px;
    }
    .small-div-heading{
        font-size: 14px;
    }
    .small-div-a{
        font-size: 10px;
    }
    .section3-heading{
        font-size: 25px;
    }
    .section3-image{
        max-width: 150px;
        width: 100%;
    }
    .footer-p{
        font-size: 7px;
    }
    .span-link{
        font-size: 7px;
    }
}
@media(max-width:480px){
    .header-background-image{
        height: 240px;
    }
    .header-div-2{
        margin-top: 70px;
        margin-left: 50px;
    }
    .header-heading{
        font-size: 20px;
    }
    .section2-heading{
        font-size: 20px;
    }
    /* .right-box{
        height: auto;
    } */
    .textarea1{
        height:auto;
    }
    .input-class{
        height:auto ;
        margin-bottom: 20px;
    }
    .button-class{
        height:auto ;
    }
    .click{
        width: 10px; ;
    }
    .small-div{
        max-width: 30px;
        width: 100%;
        height: 30px;
    }
    .small-div-heading{
        font-size: 12px;
    }
    .small-div-a{
        font-size: 8px;
    }
    .section3-heading{
        font-size: 20px;
    }
    .section3-div2{

        flex-wrap: wrap;
        justify-content: center;
    }
    .section3-image{
        max-width: 290px;
        width: 100%;
        margin-bottom: 10px;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-div-1{
        max-width: 290px;
        width: 100%;
        height: auto;
    }
    .footer-text{
        font-size: 14px;
    }
    .footer-div-2{
        max-width: 290px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .links-div{
        max-width: 290px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        height: auto;
    }
    .footer-headings{
        font-size: 14px;
        margin-bottom: 2px;
    }
    .footer-links{
        font-size: 14px;
        margin-top: 7px;
    }
    .privacy-div{
        max-width: 290px;
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .contact-div{
        max-width: 290px;
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .fa-envelope{
        font-size: 25px;
    }
    .footer-info{
        font-size: 16px;
    }
    .fa-phone-alt{
        font-size: 25px;
    }
    .fa-map-marker-alt{
        font-size: 25px;
    }
}