
.header-background-image{
    background-image: url(../images/header-image.jpg);
    width: 100%;
    height: 324px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
}
.header-div-1{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-color: aquamarine; */
}
.header-nav{
    max-width: 550px;
    width: 100%;
}
.header-ul{
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    align-items: center;
}
.header-a{
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.header-div-2{
    max-width:177px;
    width: 100%;
    height: 99px;
    margin-top: 96px;
    margin-left: 139px;
    display: flex; 
    flex-direction: column;
}
.header-heading{
    color:#FFFFFF;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
}
.header-div-3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 14px;
}
.header-a-2{
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.divider{
    background-color: #FFFFFF;
    width: 1px;
    margin-right: 16.5px;
    margin-left: 14.5px;
}
.map-div{
    max-width: 1088px;
    width: 100%;
    height: 286px;
    background-color: cornflowerblue;
    margin: 50px auto;
}
.map{
    width: 100%;
    height: 100%;
}
.section2-div{
    max-width: 1088px;
    width: 100%;
    height: 475px;
    margin: 0 auto;
    /* background-color: darkgray; */
    /* display: flex;
    flex-direction: column; */
}
.section2-div1{
    max-width: 398px;
    width: 100%;
    height: 135px;
    margin-top: 56px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
     /* background-color:darksalmon; */
} 
.section2-a{
    color:#5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.section2-heading{
    color:#000000;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    max-width:378px;
    width: 100%;
    margin-top: 10px;
    line-height: 45px;
}
.section2-div2{
    max-width: 1088px;
    width: 100%;
    height: 288px;
    /* background-color: darkseagreen; */
}
.form-class{
    display: flex;
    justify-content: space-between;
}
.left-box{
    /* background-color: darkviolet; */
    max-width:720px;
    width: 100%;
    height:288px;
}
.textarea1{
    max-width: 720px;
    width: 100%;
    height: 288px;
    background-color:#F8F8F8;
    color: black;
    border: 2px solid #E8E8E8;
    resize: none;
}
.textarea1::placeholder{
    color:#CECECE;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding-left:20px;
}
.input-class::placeholder{
    color:#CECECE;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding-left:20px;
}
.right-box{
    /* background-color: dimgrey; */
    max-width:352px;
    width: 100%;
    height: 288px;
}
.input-class{
    background-color: #F8F8F8;
    color:black;
    max-width: 352px;
    width: 100%;
    height: 60px;
    border: 2px solid #E8E8E8;
    margin-bottom: 16px;
}
.input-class:focus,
.textarea1:focus {
    outline:none;
}
.input-div{
    display: flex;
    flex-direction: column;
}
.textarea-div{
    display: flex;
    flex-direction: column;
}
.button-class{
    background-color: #5863F8;
    color:#FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    max-width: 352px;
    width: 100%;
    height: 60px;
    border: 2px solid #5863F8;
}
.section2-div3{
    max-width: 1088px;
    width: 100%;
    height: 161px;
    /* background-color: blanchedalmond; */
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-wraper{
    max-width:350px;
    width: 100%;
    height: 145px;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-div{
    max-width: 59px;
    width: 100%;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.small-div-heading{
    color:#000000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.small-div-a{
    color:#B1B1B1;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}
.section3-div1{
    max-width: 1088px;
    width: 100%;
    height: 130px;
    /* background-color: burlywood; */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.section3-a{
    color:#5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.section3-heading{
    color:#000000;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    max-width:530px;
    width: 100%;
    margin-top: 10px;
    line-height: 45px;
}
.section3-div2{
    width: 100%;
    height: 352px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
}
.footer-background-image{
    background-image: url(../images/footer-image.jpg);
    width: 100%;
    height: 395px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 54px;
}
.footer-div-1{
    max-width: 260px;
    width: 100%;
    height: 191px;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
}
.footer-text{
    color:#B1B1B1;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    margin:20px auto;
}
.fa-facebook{
    color: #3B5998;
    font-size: 30px;
}
.fa-twitter-square{
    color: #55ACEE;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.fa-google-plus{
    color:#DC4E41;
    font-size: 30px;
}
.footer-div-2{
    max-width: 650px;
    width: 100%;
    height: 191px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
}
.links-div{
    max-width: 103px;
    width: 100%;
    height: 191px;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
}
.footer-headings{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-links{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.privacy-div{
    max-width: 103px;
    width: 100%;
    height: 191px;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
}
.contact-div{
    max-width: 198px;
    width: 100%;
    height: 191px;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
}
.fa-envelope{
    color: #5863F8;
    font-size: 20px;
}
.footer-info{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.fa-phone-alt{
    color: #5863F8;
    font-size: 20px;
}
.fa-map-marker-alt{
    color: #5863F8;
    font-size: 20px;
}
.info-div{
    margin-top: 20px;
}
.copyright{
    max-width: 1088px;
    width: 100%;
    /* background-color: white; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-p{
    color:#B1B1B1;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.span-link{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: 3px;
}
